# Virtual env
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data / DB / uploads
data/
*.db
uploads/
logs/

# IDE
.vscode/
.idea/
.DS_Store

# models and trained weights
*.pt
*.bin

# Frontend dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Frontend build outputs
build/
dist/
dist-ssr/

# Testing
coverage/
.nyc_output/

# Misc
*.log
.cache/
.temp/
temp/
